body{margin: 0; background: url(img/upload-09-pic_32ratio_900x600-900x600-50338.jpg); background-repeat: no-repeat; background-position: center; background-size: cover}
.a1{width: 200px; margin: 30px auto; padding: 20px; background-color: #fff; box-shadow: 0 5px 10px #ccc; border-radius: 10px}
.a2{display: block; width: 200px; height: 200px; margin: 0 auto; border-radius: 10%}
.a3{font-size: 20px; text-align: center; color: azure; font-size: 20px}
.a4{font-size: 20px; color: azure}
.a5{font-size: 21px; color: azure}
li{color: azure}
.a6{padding-left: 0; list-style-position: inside; font-size: 14px}
